.cabecalho .row-fluid{
    margin: 0 auto;
    max-width: 1140px;
}

.cabecalho .container{
    margin: 0 auto;
    max-width: none;
    padding: 0;
}

/* Menu das categorias  git*/
.superior ul {
    margin: 0 auto;
    max-width: 1140px;
}

.menu.superior {
    background-color: #d9501f;
    margin-top: 0px;
}