#cabecalho .row-fluid{
    margin: 0 auto;
    max-width: 1140px;
}

#cabecalho .conteiner{
    margin: 0 auto;
    max-width: none;
    padding: 0;
}

.barra-inicial {
    background-color: #f7f7f7;
}

.canais-contato a {
    color: #868686 !important;
}
.canais-contato span {
    color: #868686 !important;
}

/* Menu das categorias  git*/
.superior ul {
    margin: 0 auto;
    max-width: 1140px;
}

.menu.superior {
    background-color: #d9501f;
    margin-top: 5px;
}

.menu.superior i {
    background-color: #d9501f;
}

.menu.superior i:hover {
    background-color: #d9501f;
    color: #fff2ee;
}

.menu li:hover>a .fundo-secundario{
    background-color: #d9501f;
}


.menu.superior strong {
    color: #fff;
    font-family: ruda;
    font-weight: 600;
    text-transform: uppercase;
}

.menu.superior .nivel-um>li:hover {
    border-top-width: 0px;
    /* margin-top: -2px; */
}

/* Pesquisa*/
.busca{
    background-color: #fff;
    border: none;
    max-width: 400px;
    margin: 0 auto;
}

.busca .botao-busca{
    background-image: none;
    border: none;
    border-radius: 30px;
    background-color: #a6d8df;
}

.busca input{
    border-radius: 30px;
    padding-left: 12px;
}

/* Icones*/
.carrinho .icon-shopping-cart{
    font-size: 18px;
    background-color: #d9501f;
}

.span4 i{
    background-color: #a6d8df;;
}

.icon-list, .icon-user{
    font-size: 10px;
}

/* Bem vindo*/
.span8{
    text-align: center;
}

/*Carrinho*/

.carrinho{
    border: none;
}

.carrinho>a span {
    line-height: 17px;
    padding: 3px 0 0;
}