.cabecalho .row-fluid{
    margin: 0 auto;
    max-width: 1140px;
}

.cabecalho .container{
    margin: 0 auto;
    max-width: none;
    padding: 0;
}

/* Menu das categorias  git*/
.superior ul {
    margin: 0 auto;
    max-width: 1140px;
}

.menu.superior {
    background-color: #d9501f;
    margin-top: 0px;
}

/* Pesquisa*/
.busca{
    background-color: #fff;
    border: none;
    max-width: 500px;
    margin: 0 auto;
}

.busca .botao-busca{
    background-image: none;
    border: none;
    border-radius: 30px;
    background-color: #a6d8df;
}

.busca input{
    border-radius: 30px;
    padding-left: 12px;
}

/* Icones*/
.icon-shopping-cart{
    font-size: 18px;
}

.icon-list, .icon-user{
    font-size: 10px;
}

/* Bem vindo*/
.span8{
    text-align: center;
}

/*Carrinho*/

.carrinho{
    border: none;
}

.carrinho>a span {
    line-height: 17px;
    padding: 3px 0 0;
}